@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>If you have any questions regarding this webpage or the person who created it, you can contact me at expandrew@gmail.com Have a great day!</h2>