@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>Welcome to our website! Inspired by the classic Disney Children's Cartoon that ran from 1985 to 1991, we started a candy shop that's been serving the finest sweets of all shapes and sizes since the early '90s.</h4>

<h4>Please take a moment to look at what we have in stock.</h4>
<p>@Html.ActionLink("View a list of our products", "List")</p>